.advantages {
    background: #F6F6F6;
    min-height: 470px;
    padding: 71px 0 64px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        margin-top: 65px;
        width: 273px;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
        color: $black; 
    }
    &__descr {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        span {
            text-decoration: underline;
            color: #FF0000;
            text-transform: uppercase;
        }
    }
}